div
  div(plug="layout")
    .pdl-layout
      div(data-type="layout")
        .pdl-cell(data-name="view")
        .pdl-cell(data-name="legend") 123
      div(data-type="render")
  style(type="text/css"): :stylus
    .pdl-layout > div[data-type=layout]
      display: grid
      grid-template-columns: 1fr fit-content(5em)
  script(type="@plotdb/block"): include:lsc index.ls
